---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="h-screen w-screen">
        <div class="w-full h-full bg-red-500 flex flex-row">
            <div class="basis-1/4 bg-blue-500 flex flex-col px-6 pt-6">
                <div class="text-lg">Logo</div>
            </div>
            <div class="basis-3/4 bg-green-500"></div>
        </div>
    </body>
</html>
